<div class="text-center row" >
  <div class="slideshow mb-2">
      <div class="slideshow-wrapper">
          
        <div class="slide">
            <img class="slide-img img-fluid col-xs-12 col-md-6 "
            src="./assets/vien04.png"
            
            >
            <!-- [src]="booking.imagePath"
                alt="{{ booking.place }}" -->
                <!-- (click)="onNextPlace()"  ---  another solution to select an image -->
            </div>
            
            <div class="slide ">
            <img class="slide-img col-xs-12 col-md-6 img-fluid"
            src="./assets/vien02.png"
            >
            <!-- [src]="booking.imagePath"
                alt="{{ booking.place }}" ---  another solution to select an image  -->
            </div>
            <div class="slide">
                <img class="slide-img col-xs-12 col-md-6 img-fluid" src="./assets/vien03.png"

                >
                <!-- [src]="booking.imagePath"
                    alt="{{ booking.place }}" ---  another solution to select an image  -->
                </div>
                <div class="slide">
                    <img class="slide-img col-xs-12 col-md-6 img-fluid" src="./assets/vien04.png"
 
                    >
                    <!-- [src]="booking.imagePath"
                        style="width: 344px; max-height:221px"
                        alt="{{ booking.place }}" ---  another solution to select an image  -->
                    </div>
                </div>
                <!-- <div class="placeholder"></div> -->
    </div>
</div>




  
    


  
